출처: https://causalinferencelab.github.io/Causal-Inference-with-Python/11-Propensity-Score.html

In [2]:
!pip install causalinference

Collecting causalinference
  Downloading CausalInference-0.1.3-py3-none-any.whl.metadata (2.5 kB)
Downloading CausalInference-0.1.3-py3-none-any.whl (51 kB)
Installing collected packages: causalinference
Successfully installed causalinference-0.1.3

In [2]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np
from matplotlib import style
from matplotlib import pyplot as plt
import seaborn as sns
import statsmodels.formula.api as smf
from causalinference import CausalModel

import graphviz as gr

%matplotlib inline

style.use("fivethirtyeight")
pd.set_option("display.max_columns", 6)

## 데이터셋 문제상황

- 성장 마인드셋을 찾는 것을 목표로 하는 미국 공립 고등학교에서 행해진 무작위 연구
- 학생들이 학교로부터 **세미나**를 받아 성장 마인드를 심어주는 방식
- 학생들이 얼마나 학업적으로 잘했는지 측정하기 위해 세미나를 받은 사람들의 대학 생활을 추적 (성취도 점수)

In [3]:
data = pd.read_csv("learning_mindset.csv")
data.sample(5, random_state=5)

,schoolid,intervention,achievement_score,...,school_ethnic_minority,school_poverty,school_size
259,73,1,1.480828,...,-0.515202,-0.169849,0.173954
3435,76,0,-0.987277,...,-1.310927,0.224077,-0.426757
9963,4,0,-0.152340,...,0.875012,-0.724801,0.761781
4488,67,0,0.358336,...,0.315755,0.054586,1.862187
2637,16,1,1.360920,...,-0.033161,-0.982274,1.591641

In [4]:
data.groupby("success_expect")["intervention"].mean()

success_expect
1    0.271739
2    0.265957
3    0.294118
4    0.271617
5    0.311070
6    0.354287
7    0.362319
Name: intervention, dtype: float64

$\text{achievement\_score} = -0.1538 + 0.4723 \times \text{intervention}$

In [5]:
smf.ols("achievement_score ~ intervention", data=data).fit().summary().tables[1]

## 성향 점수 추정

In [6]:
categ = ["ethnicity", "gender", "school_urbanicity"]
cont = ["school_mindset", "school_achievement", "school_ethnic_minority", "school_poverty", "school_size"]

data_with_categ = pd.concat([
    data.drop(columns=categ), # dataset without the categorical features
    pd.get_dummies(data[categ], columns=categ, drop_first=False)# categorical features converted to dummies
], axis=1)

print(data_with_categ.shape)

(10391, 32)

In [8]:
from sklearn.linear_model import LogisticRegression

T = 'intervention'
Y = 'achievement_score'
X = data_with_categ.columns.drop(['schoolid', T, Y])

ps_model = LogisticRegression(C=1e6).fit(data_with_categ[X], data_with_categ[T])

data_ps = data.assign(propensity_score=ps_model.predict_proba(data_with_categ[X])[:, 1])

data_ps[["intervention", "achievement_score", "propensity_score"]].head()

   intervention  achievement_score  propensity_score
0             1           0.277359          0.315271
1             1          -0.449646          0.263482
2             1           0.769703          0.343781
3             1          -0.121763          0.343781
4             1           1.526147          0.367474

In [10]:
weight_t = 1/data_ps.query("intervention==1")["propensity_score"]
weight_nt = 1/(1-data_ps.query("intervention==0")["propensity_score"])
print("Original Sample Size", data.shape[0])
print("Treated Population Sample Size", sum(weight_t))
print("Untreated Population Sample Size", sum(weight_nt))

Original Sample Size 10391
Treated Population Sample Size 10387.61129838985
Untreated Population Sample Size 10391.506175085102

## ATE

not 0.4723, 과대추정

In [11]:
weight = ((data_ps["intervention"]-data_ps["propensity_score"]) /
          (data_ps["propensity_score"]*(1-data_ps["propensity_score"])))

y1 = sum(data_ps.query("intervention==1")["achievement_score"]*weight_t) / len(data)
y0 = sum(data_ps.query("intervention==0")["achievement_score"]*weight_nt) / len(data)

# y1_hajek = sum(y1 * weight_t) / sum(weight_t)
# y0_hajek = sum(y0 * weight_nt) / sum(weight_nt)

ate = np.mean(weight * data_ps["achievement_score"])

print("Y1:", y1)
print("Y0:", y0)
print("ATE", np.mean(weight * data_ps["achievement_score"]))

Y1: 0.25981027684195607
Y0: -0.12903052772503087
ATE 0.388840804566987